// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

#main {
    background-color: $light-grey;

    h1, p, figure, #img-caption{
       text-align: center;
    }
}

#main {
    #tribute-info {
        #headline {
            text-align: center;
        }
    }
}

ul {
    list-style-type: square;
    li{
        margin-top: 10px;
    }
}